@import url('https://fonts.googleapis.com/css2?family=Ysabeau:ital,wght@1,100&display=swap');

body{
    margin: 0;
    display: grid;
    grid-template-areas:
    "header header header" 
    "personal main add"
    "footer footer footer";
    grid-template-columns: 20vw 1fr 20vw;
    grid-template-rows: 10vh 1fr 7vh;

    @media(max-width: 600px){
        display: flex;
        flex-direction: column;
    }
}

.main-header{
    grid-area: header;
    border-bottom: 1px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;

    @media(max-width: 600px){
        height: 5vh;
    }
}

header h1{
    font-family: 'Ysabeau', sans-serif;
    text-align: center;

    @media(max-width: 600px){
        font-size: 1em;
    }
}

h3{
    text-align: center;
    font-weight: 500;
    font-size: 1.3em;
}

/* Ínicio das informações pessoais */
.personal-info{
    grid-area: personal;
    border-right: 1px solid;
}

.personal-info .sex-orientation{
    margin: 10px;
}

.personal-info .description{
    margin: 30px 10px 40px;
    font-size: 14px;
}

.personal-info .sex-orientation #other-orientation{
    width: 95%;
    height: 4vh;

    @media(max-width: 600px){
        height: 25px;
    }
}

.personal-info .sex-orientation .btn-container{
    @media(max-width: 600px){
        display: flex;
        justify-content: space-between;
        margin: 10px 10px 0 0;
    }
}

/* Ínicio das informações de contato */
main{
    grid-area: main;
}

main header{
    display: flex;
    align-items: center;
    justify-content: space-around;

    @media(max-width: 600px){
        flex-direction: column;
    }
}

main header .button{
    width: 200px;
    cursor: pointer;
    border-radius: 10px;
    background-color: rgba(255,0,0,0.8);
    text-align: center;
    box-shadow: 2px 2px 4px;
    padding: 5px;
}

.button:hover{
    background-color: red;
    color: white;
    box-shadow: 2px 2px 4px black;
}

.button:active{
    transform: scale(0.9);
}

main .popup{
    display: none;
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0,0,0,0.8);
    width: 35%;
    padding-bottom: 20px;
    border-radius: 10px;
    box-shadow: 2px 2px 4px;
}

main .popup .popup-firstContents{
    margin-top: 7vh;
}

main .popup .card{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    width: 80%;
    box-shadow: 2px 2px 4px;
    padding: 5px 5px 0 10px;
    margin: auto;
    border-radius: 10px;
}

main .popup .card:hover{
    cursor: pointer;
    box-shadow: 3px 3px 6px;
}

main .popup .card .button{
    width: 100px;
    cursor: pointer;
    border-radius: 10px;
    background-color: rgba(255,0,0,0.8);
    text-align: center;
    color: black;
    box-shadow: 2px 2px 4px black;
}

main .popup .card .button:hover{
    background-color: red;
    color: white;
    box-shadow: 2px 2px 4px;
}

main .popup .button{
    width: 100px;
    cursor: pointer;
    border-radius: 10px;
    background-color: rgba(255,0,0,0.8);
    text-align: center;
    box-shadow: 2px 2px 4px;
    float: right;
    margin: 10px;
}

main form fieldset{
    margin: 20px;
}

form .contact{
    line-height: 30px;

    @media(max-width: 600px){
        width: 80%;
    }
}

main .text-about-msg{
    margin: 10vh 20px 10px;
}

main .text-about-msg p{
    font-family: 'Ysabeau', sans-serif;
    font-weight: bold;
    text-align: center;
}

form .message{
    @media(max-width: 600px){
        width: 80%;
    }
}

form .message #msg{
    width: 97%;
    border: none;
    outline: none;
}

form fieldset{
    width: 30vw;
}

main form fieldset legend{
    font-size: 18pt;
}

/* Ínicio das informações adicionais */
.add-info{
    grid-area: add;
    border-left: 1px solid;
}

.add-info .music{
    margin: 30px 10px;
}

.add-info .music .music-styles{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.add-info .sports{
    margin: 30px 10px;
}

.add-info .sports .sports-types{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

footer{
    grid-area: footer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid;
}

footer button{    
    width: 90%;
    border-radius: 20px;
    font-size: 16pt;
    cursor: pointer;
    background-color: gray;

    @media(max-width: 600px){
        font-size: 16px;
        margin: 10px;
    }
}

footer button:hover{
    color: white;
}
