body{
    display: flex;
    justify-content: center;
}

form{
    margin-top: 10vh;
    font-size: 15pt;
}

fieldset{
    width: 30vw;
    line-height: 7vh;
    padding: 20px;
    box-shadow: 3px 3px 6px;
}

legend{
    font-size: 1.5em;
    text-align: center;
}

input{
    width: 80%;
    height: 30px;
    font-size: 13pt;
    padding-left: 10px;
}

button{
    width: 50%;
    height: 30px;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

button:hover{
    background-color: gray;
    color: white;
}