@import url('https://fonts.googleapis.com/css2?family=Ysabeau:ital,wght@1,100&display=swap');

body{
    height: 100vh;
    margin: 0;
    display: grid;
    grid-template-areas:
    "header header header" 
    "personal main add"
    "footer footer footer";
    grid-template-columns: 20vw 1fr 20vw;
    grid-template-rows: 7vh 1fr 7vh;

    @media(max-width: 600px){
        display: flex;
        flex-direction: column;
    }
}

header{
    grid-area: header;
    border-bottom: 1px solid;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;

    @media(max-width: 600px){
        height: 5vh;
    }
}

header h1{
    font-family: 'Ysabeau', sans-serif;

    @media(max-width: 600px){
        font-size: 1em;
    }
}

header .icon{
    font-size: 2em;
    cursor: pointer;

    @media(max-width: 600px){
        font-size: 1em;
    }
}

h3{
    text-align: center;
    font-weight: 500;
    font-size: 1.3em;
}

/* Ínicio das informações pessoais */
.personal-info{
    grid-area: personal;
    border-right: 1px solid;
}

.personal-info .sex-orientation{
    margin: 10px;
}

.personal-info .description{
    margin: 30px 10px 40px;
    font-size: 14px;
}

.personal-info .sex-orientation #other-orientation{
    width: 95%;
    height: 4vh;

    @media(max-width: 600px){
        height: 25px;
    }
}

.personal-info .sex-orientation .btn-container{
    @media(max-width: 600px){
        display: flex;
        justify-content: space-between;
        margin: 10px 10px 0 0;
    }
}

/* Ínicio das informações de contato */
main{
    grid-area: main;
}

main .password-modal{
    display: none;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
    background-color: lightgray;
    width: 30%;
    height: 18vh;
    box-shadow: 3px 3px 6px;
    border: none;
    text-align: center;

    @media(max-width: 600px){
        position: fixed;
        width: 80%;
        height: 40vh;
    }
}

main .password-modal .text-content{
    display: block;
    margin: 10px 20px 15px;
}

main .password-modal input{
    width: 70%;
    height: 25px;
    margin-bottom: 10px;
}

main .password-modal div{
    width: 70%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main .password-modal div button{
    width: 100px;
}

main form fieldset{
    margin: 20px;
}

form .contact{
    line-height: 30px;

    @media(max-width: 600px){
        width: 80%;
    }
}

main .text-about-msg{
    margin: 10vh 20px 10px;
}

main .text-about-msg p{
    font-family: 'Ysabeau', sans-serif;
    font-weight: bold;
    text-align: center;
}

form .message{
    @media(max-width: 600px){
        width: 80%;
    }
}

form .message #msg{
    width: 97%;
    border: none;
    outline: none;
}

form fieldset{
    width: 30vw;
}

main form fieldset legend{
    font-size: 18pt;
}

/* Ínicio das informações adicionais */
.add-info{
    grid-area: add;
    border-left: 1px solid;
}

.add-info .music{
    margin: 30px 10px;
}

.add-info .music .music-styles{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.add-info .sports{
    margin: 30px 10px;
}

.add-info .sports .sports-types{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

footer{
    grid-area: footer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid;
}

footer button{    
    width: 90%;
    border-radius: 20px;
    font-size: 16pt;
    cursor: pointer;
    background-color: gray;

    @media(max-width: 600px){
        font-size: 16px;
        margin: 10px;
    }
}

footer button:hover{
    color: white;
}
